<ion-header>
  <ion-navbar color="dark" [hideBackButton]="false">
    <ion-buttons align-self-start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title align-title="center">Welkom, {{user.username}}!</ion-title>
    <ion-buttons end>
      <button ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="home" padding>
  <ion-title>Afgelopen Sessie's</ion-title>
  <div *ngFor="let session of oldSessions">
    <ion-card *ngIf="session.state === 4">
      <img src="assets/imgs/cafe.jpg" class="sessionEnd">
      <div class="card-title">{{session.name}}</div>
    </ion-card>
  </div>
  <ion-card>
    <img src="assets/imgs/cafe.jpg" class="sessionEnd">
    <div class="card-title">Bezoek Bars</div>
    <div class="card-subtitle">Thema: Welke bars we bezoeken</div>
  </ion-card>

</ion-content>

<ion-footer color="dark">
  <ion-navbar color="dark">
    <ion-buttons>
      <div text-center>
        <button ion-button (click)="GoToSessionActive()">Actieve Sessie's</button>
      </div>
    </ion-buttons>
  </ion-navbar>
</ion-footer>


