page-phase1 {

  .home {
    background: rgba(2, 1, 2, 0.28);
  }

  ion-title {
    text-align: center;
  }

  ion-card-content {
    border-top: 1px solid rgba(2, 1, 2, 0.28);
  }

  progress[value] {
    /* Get rid of the default appearance */
    appearance: none;

    /* This unfortunately leaves a trail of border behind in Firefox and Opera. We can remove that by setting the border to none. */
    border: none;

    /* Add dimensions */
    width: 100%; height: 50px;

    /* Although firefox doesn't provide any additional pseudo class to style the progress element container, any style applied here works on the container. */
    background-color: whiteSmoke;

    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;

    /* Of all IE, only IE10 supports progress element that too partially. It only allows to change the background-color of the progress value using the 'color' attribute. */
    color: royalblue;

    position: relative;
    margin: 0 0 1.5em;
  }

  progress.different, progress.different::-webkit-progress-value {
    background-color: red;
  }
}
