page-settings {

  .home {
    background-color: #cccccc;
  }

  ion-title {
    text-align: center;
  }

  ion-card {
    border-radius: 20%;
  }

  ion-card-header {
    text-align: center;
    border-bottom: #cccccc 1px;
  }
}
